<p>items-in-stock works!</p>


<div class="py-8">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="p-4 bg-white overflow-hidden shadow-xl sm:rounded-lg">

            <div class="flex flex-col w-full">
                <div class="overflow-x-auto">
                    <div class="py-4 align-middle inline-block min-w-full">
                        <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg">

                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">
                                           no.
                                        </th>
                                        <th scope="col">
                                            Product Name
                                        </th>
                                        <th scope="col">
                                            Quantity
                                        </th>
                                        <th scope="col">
                                           Unit Price
                                        </th>
                                        <th scope="col">
                                            Total
                                         </th>
                                    </tr>
                                </thead>
                                <tbody>                                      
                                        <tr *ngFor="let stock of stocks" >
                                            <td>
                                                {{stocks.indexOf(stock) + 1}}
                                            </td>
                                            <td>
                                                {{stock.name}}  
                                            </td>
                                            <td>
                                                {{getQuantity(stock.id)}}
                                            </td>
                                            <td>
                                                {{currencyFormatter(stock.price)}}
                                            </td>
                                            <td>
                                                {{currencyFormatter(stock.price * getQuantity(stock.id))}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <h2>Total Due:</h2>
                                            </td>
                                            <td>
                                               {{currencyFormatter(TotalDue())}}
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>

                        </div>
                        <br>

                        <div class="row justify-content-end">
                            <div class="col-2">
                                <button type="button" (click)="checkout" class="btn btn-outline-success">Check out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>