
<div class="py-8">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      
        <div class="p-4 bg-white overflow-hidden shadow-xl sm:rounded-lg">
            
            <div class="flex flex-col w-full">
                <div class="overflow-x-auto">
                    <div class="py-4 align-middle inline-block min-w-full">
                        <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg">
                          
                          <div class="row align-items-center btn-box justify-content-end">
                            <div class="col-auto">
                              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createModal" >Add product</button>
                            </div>
                          </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">
                                           no.
                                        </th>
                                        <th scope="col">
                                            Product Name
                                        </th>
                                        <th scope="col">
                                            Quantity
                                        </th>
                                        <th scope="col">
                                           Unit Price
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>                                      
                                        <tr *ngFor="let product of products" >
                                            <td>
                                                {{products.indexOf(product) + 1}}
                                            </td>
                                            <td>
                                                {{product.name}}  
                                            </td>
                                            <td>
                                                {{getQuantity(product.id)}}
                                            </td>
                                            <td>
                                                {{currencyFormatter(product.price)}}
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                            </table>

                        </div>
                        <br>                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >New product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">Name</div>
            <div class="col-md-3">Quantity</div>
           </div>  

         <div class="row g-3">
          <div class="col-md-4">          
            <select name="selectedProduct" [ngModel]="selectedProduct" (ngModelChange)="onChangeProduct($event)" class="form-select">
              <option [ngValue]="product" *ngFor="let product of products" >{{product.name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="noOfItems" [(ngModel)]="noOfItems" placeholder="quantity">
          </div>

         </div>

        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="create()" class="btn btn-outline-success"  data-bs-dismiss="modal">Save changes</button>
        </div>     
      </div>       
        
      </div>
  </div>

  

    <div class="row justify-content-end">
      <div class="col-md-4">
        <div class="alert alert-success fade show" role="alert" *ngIf="isCreated" >
          <strong>You have successfully added new product</strong>       
        </div> 
      </div>
    </div>
 